
<header><app-first-menu></app-first-menu></header>


  

  
  <body>

    <button (click)="addJob()"> Agregar trabajo</button>
  
    <div id="container"></div>
    <script id="template"></script>
    <div class="flip-card" (click)="toggleCard()">{{ isFlipped ? 'Reset' : 'Animate' }}</div>
    
    <a>{{listJobs[0]}}</a>
    <div *ngIf="newJob===true" class="contact-wrapper" [class.active]="isFlipped">
      
      <div class="envelope">
        <div class="back paper"></div>
        <div class="content">
          <div class="form-wrapper">
            <button (click)="closeAddJob()" type="button" class="btn btn-danger">X</button>
            <form novalidate [formGroup]="jobs" (ngSubmit)="setData()">
              <div class="top-wrapper">
                <div class="input">
                  <label>Name</label>
                  <input type="text" name="name" formControlName="name" placeholder="Pedro Paramo" />
                </div>
                <div class="input">
                  <label>Phone</label>
                  <input type="text" name="phone" formControlName="phone" />
                </div>
                <div class="input">
                  <label>Email</label>
                  <input type="text" name="_replyto" formControlName="email"/>
                </div>
              </div>
              <div class="bottom-wrapper">
                <div class="input">
                  <label>Subject</label>
                  <input type="text" name="_subject" formControlName="subject" />
                </div>
                <div class="input">
                  <label>Message</label>
                  <textarea rows="5" name="message" formControlName="message" ></textarea>
                </div>
                <div class="submit">
                  <div class="submit-card" (click)="setData()">Send Mail</div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
  