
<header><app-first-menu></app-first-menu></header>
<div class="card" style="width: 18rem;">
    <div class="card-header">
      Datos
    </div>
    <form>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre <br><input type="text"></li>
      <li class="list-group-item">Carrera 
        <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona tu carrera</option>
            <option value="1">Pedagogía</option>
            <option value="2">Ingieria en Sistemas Computacionales</option>
            <option value="3">Psicología</option>
          </select>
      </li>
      <li class="list-group-item">¿Llevas inglés en tu carrera?</li>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Si/no</label>


        <li class="list-group-item">Nivel de ingles  
          <select class="form-select" aria-label="Default select example">
              <option selected>Selecciona tu nivel de dominio de ingles</option>
              <option value="1">Ninguno</option>
              <option value="2">Basico</option>
              <option value="3">Intermedio</option>
              <option value ="4">Avanzado</option>
            </select>
        </li>

      </div>
    </ul>
    </form>
  </div>
